openapi: 3.2.0
info:
  title: apiconnector.com API Transactional Email API
  version: v2
servers:
- url: https://r1-api.dotdigital.com
tags:
- name: ApiTransactionalEmail
paths:
  /v2/email:
    post:
      tags:
      - ApiTransactionalEmail
      summary: Sends a transactional email. If sending to multiple recipients, please separate addresses with a comma.
      operationId: ApiTransactionalEmail_SendTransactionalEmail
      requestBody:
        x-name: email
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiTransactionalEmail'
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v2/email/batch:
    post:
      tags:
      - ApiTransactionalEmail
      summary: Sends one or more transactional emails. If sending to multiple recipients, please separate addresses with a comma.
      operationId: ApiTransactionalEmail_SendTransactionalEmails
      requestBody:
        x-name: emails
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ApiTransactionalEmail'
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v2/email/triggered-campaign:
    post:
      tags:
      - ApiTransactionalEmail
      summary: Sends a transactional email with content taken from a triggered campaign. If sending to multiple recipients, please separate addresses with a comma.
      operationId: ApiTransactionalEmail_SendTransactionalEmailTriggeredCampaign
      parameters:
      - name: email
        in: query
        schema:
          oneOf:
          - $ref: '#/components/schemas/ApiTransactionalEmailTriggeredCampaign'
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v2/email/triggered-campaign/batch:
    post:
      tags:
      - ApiTransactionalEmail
      summary: Sends one or more transactional emails with content for each taken from a triggered campaign. If sending to multiple recipients, please separate addresses with a comma.
      operationId: ApiTransactionalEmail_SendTransactionalEmailTriggeredCampaigns
      requestBody:
        x-name: emails
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ApiTransactionalEmailTriggeredCampaign'
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v2/email/stats/since-date/{startDate}:
    get:
      tags:
      - ApiTransactionalEmail
      summary: Gets aggregated transactional email statistics.
      operationId: ApiTransactionalEmail_GetTransactionalEmailStatistics
      parameters:
      - name: startDate
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 1
      - name: endDate
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 2
      - name: aggregatedBy
        in: query
        schema:
          default: AllTime
          oneOf:
          - $ref: '#/components/schemas/ApiAggregationPeriod'
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiTransactionalEmailStatistics'
  /v2/campaigns/{campaignId}/prepared-for-transactional-email/{email}:
    get:
      tags:
      - ApiTransactionalEmail
      operationId: ApiTransactionalEmail_GetCampaignByIdWithCompiledContentForTransactionalEmail
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: email
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      - name: personalizationValues
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/ApiPersonalizationValue'
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaignWithProcessedContent'
components:
  schemas:
    ApiCampaignFromAddress:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
        email:
          type:
          - string
          - 'null'
    ApiTransactionalEmailAttachment:
      type: object
      additionalProperties: false
      properties:
        fileName:
          type:
          - string
          - 'null'
        content:
          type:
          - string
          - 'null'
        mimeType:
          type:
          - string
          - 'null'
    ApiCampaignWithProcessedContent:
      type: object
      additionalProperties: false
      required:
      - name
      - subject
      - fromName
      - htmlContent
      - plainTextContent
      - processedHtmlContent
      - processedPlainTextContent
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          minLength: 1
        subject:
          type: string
          minLength: 1
        fromName:
          type: string
          minLength: 1
        fromAddress:
          oneOf:
          - $ref: '#/components/schemas/ApiCampaignFromAddress'
        htmlContent:
          type: string
          minLength: 1
        plainTextContent:
          type: string
          minLength: 1
        replyAction:
          $ref: '#/components/schemas/ApiCampaignReplyActions'
        replyToAddress:
          type:
          - string
          - 'null'
        isSplitTest:
          type: boolean
          readOnly: true
        status:
          readOnly: true
          oneOf:
          - $ref: '#/components/schemas/ApiCampaignStatuses'
        processedHtmlContent:
          type: string
          readOnly: true
          minLength: 1
        processedPlainTextContent:
          type: string
          readOnly: true
          minLength: 1
        customReplyToAddress:
          type:
          - string
          - 'null'
    ApiPersonalizationValue:
      type: object
      additionalProperties: false
      properties:
        name:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
    ApiAggregationPeriod:
      type: string
      description: ''
      x-enumNames:
      - AllTime
      - Month
      - Week
      - Day
      - NotAvailableInThisVersion
      enum:
      - AllTime
      - Month
      - Week
      - Day
      - NotAvailableInThisVersion
    ApiTransactionalEmailTriggeredCampaign:
      type: object
      additionalProperties: false
      properties:
        toAddresses:
          type:
          - array
          - 'null'
          items:
            type: string
        ccAddresses:
          type:
          - array
          - 'null'
          items:
            type: string
        bccAddresses:
          type:
          - array
          - 'null'
          items:
            type: string
        campaignId:
          type: integer
          format: int32
        personalizationValues:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiPersonalizationValue'
        metadata:
          type:
          - string
          - 'null'
        fromAddress:
          type:
          - string
          - 'null'
        attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiTransactionalEmailAttachment'
    ApiTransactionalEmail:
      type: object
      additionalProperties: false
      properties:
        toAddresses:
          type:
          - array
          - 'null'
          items:
            type: string
        ccAddresses:
          type:
          - array
          - 'null'
          items:
            type: string
        bccAddresses:
          type:
          - array
          - 'null'
          items:
            type: string
        subject:
          type:
          - string
          - 'null'
        fromAddress:
          type:
          - string
          - 'null'
        htmlContent:
          type:
          - string
          - 'null'
        plainTextContent:
          type:
          - string
          - 'null'
        tags:
          type:
          - array
          - 'null'
          items:
            type: string
        metadata:
          type:
          - string
          - 'null'
        attachments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiTransactionalEmailAttachment'
    ApiCampaignReplyActions:
      type: string
      description: ''
      x-enumNames:
      - Unset
      - WebMailForward
      - Webmail
      - Delete
      - NotAvailableInThisVersion
      enum:
      - Unset
      - WebMailForward
      - Webmail
      - Delete
      - NotAvailableInThisVersion
    ApiTransactionalEmailStatistics:
      type: object
      additionalProperties: false
      properties:
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        numSent:
          type: integer
          format: int32
        numDelivered:
          type: integer
          format: int32
        numOpens:
          type: integer
          format: int32
        numClicks:
          type: integer
          format: int32
        numIspComplaints:
          type: integer
          format: int32
        numBounces:
          type: integer
          format: int32
    ApiCampaignStatuses:
      type: string
      description: ''
      x-enumNames:
      - Unsent
      - Sending
      - Sent
      - Paused
      - Cancelled
      - RequiresSystemApproval
      - RequiresSMSApproval
      - RequiresWorkflowApproval
      - Triggered
      - NotAvailableInThisVersion
      enum:
      - Unsent
      - Sending
      - Sent
      - Paused
      - Cancelled
      - RequiresSystemApproval
      - RequiresSMSApproval
      - RequiresWorkflowApproval
      - Triggered
      - NotAvailableInThisVersion
x-generator: NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))
