openapi: 3.2.0
info:
  title: apiconnector.com API Template API
  version: v2
servers:
- url: https://r1-api.dotdigital.com
tags:
- name: ApiTemplate
paths:
  /v2/templates:
    post:
      tags:
      - ApiTemplate
      summary: Creates a template
      operationId: ApiTemplate_CreateTemplate
      requestBody:
        x-name: template
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiTemplate'
        required: true
        x-position: 1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTemplate'
    get:
      tags:
      - ApiTemplate
      summary: Gets list of all templates
      operationId: ApiTemplate_GetTemplates
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 500
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiTemplate'
  /v2/templates/{id}:
    get:
      tags:
      - ApiTemplate
      summary: Gets a template by ID
      operationId: ApiTemplate_GetTemplateById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTemplate'
    put:
      tags:
      - ApiTemplate
      summary: Updates a template
      operationId: ApiTemplate_UpdateTemplate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: template
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiTemplate'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTemplate'
components:
  schemas:
    ApiTemplate:
      type: object
      additionalProperties: false
      required:
      - name
      - subject
      - fromName
      - htmlContent
      - plainTextContent
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          minLength: 1
        subject:
          type: string
          minLength: 1
        fromName:
          type: string
          minLength: 1
        htmlContent:
          type: string
          minLength: 1
        plainTextContent:
          type: string
          minLength: 1
        replyAction:
          $ref: '#/components/schemas/ApiCampaignReplyActions'
        replyToAddress:
          type:
          - string
          - 'null'
    ApiCampaignReplyActions:
      type: string
      description: ''
      x-enumNames:
      - Unset
      - WebMailForward
      - Webmail
      - Delete
      - NotAvailableInThisVersion
      enum:
      - Unset
      - WebMailForward
      - Webmail
      - Delete
      - NotAvailableInThisVersion
x-generator: NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))
