x-generator: NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))
openapi: 3.0.0
info:
  title: apiconnector.com
  version: v2
servers:
- url: https://r1-api.dotdigital.com
paths:
  /v2/account-info:
    get:
      tags:
      - ApiAccount
      summary: Gets a summary of information about the current status of the account.
      operationId: ApiAccount_GetCurrentAccountInfo
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAccount'
  /v2/server-time:
    get:
      tags:
      - ApiAccount
      summary: Gets the UTC time as set on the server.
      operationId: ApiAccount_GetServerTime
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: string
                format: date-time
  /v2/accounts:
    post:
      tags:
      - ApiAccount
      summary: Creates an account. The ID of the newly returned account will be returned as the result of this call.
      description: "There are some mandatory, and some optional fields - missing mandatory fields will cause error code to be returned.\n            The following fields are mandatory: \"EMAIL\", \"FIRSTNAME\", \"LASTNAME\", \"USERIPADDRESS\".\n            The following fields are optional: \"COMPANY\", \"PHONENUMBER\", \"LCID\", \"TIMEZONEID\", \"ISEXPRESSACCOUNT\"."
      operationId: ApiAccount_CreateAccount
      requestBody:
        x-name: account
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAccount'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAccount'
  /v2/accounts/{accountId}/managed-users:
    post:
      tags:
      - ApiAccount
      summary: Creates Managed user for a given account id.
      operationId: ApiAccount_CreateManagedUser
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiManagedUser
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiManagedUser'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagedUser'
  /v2/accounts/{accountId}/oauth-tokens:
    post:
      tags:
      - ApiAccount
      summary: Adds an OAuth token to an account.
      operationId: ApiAccount_CreateOAuthToken
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiOAuthToken
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiOAuthToken'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiOAuthToken'
  /v2/accounts/{accountId}/theme:
    put:
      tags:
      - ApiAccount
      summary: Changes a theme for an account.
      operationId: ApiAccount_UpdateTheme
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiTheme
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiTheme'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
  /v2/accounts/{accountId}/api-users:
    post:
      tags:
      - ApiAccount
      summary: Creates an API user for a given account ID. The username of the created user will be returned as the result of this call.
      description: This method may only be called on an account with no existing API users configured using the rate limiting scheme referenced in the request indicated with IsTieredRateLimitedApiUser e.g. flat or tiered rate limiting.
      operationId: ApiAccount_CreateApiUser
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiUser
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiUser'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUser'
  /v2/accounts/empty-recycle-bin:
    post:
      tags:
      - ApiAccount
      summary: Empties the account's recycle bin.
      operationId: ApiAccount_EmptyRecycleBin
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v2/address-books/{id}:
    get:
      tags:
      - ApiAddressBook
      summary: Gets a list by ID.
      operationId: ApiAddressBook_GetAddressBookById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAddressBook'
    put:
      tags:
      - ApiAddressBook
      summary: Updates a list.
      operationId: ApiAddressBook_UpdateAddressBook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiAddressBook
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAddressBook'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAddressBook'
    delete:
      tags:
      - ApiAddressBook
      summary: Deletes a list.
      operationId: ApiAddressBook_DeleteAddressBook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v2/address-books:
    get:
      tags:
      - ApiAddressBook
      summary: Gets all lists.
      operationId: ApiAddressBook_GetAddressBooks
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiAddressBook'
    post:
      tags:
      - ApiAddressBook
      summary: Creates a list.
      operationId: ApiAddressBook_CreateAddressBook
      requestBody:
        x-name: apiAddressBook
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAddressBook'
        required: true
        x-position: 1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAddressBook'
  /v2/address-books/private:
    get:
      tags:
      - ApiAddressBook
      summary: Gets all private lists.
      operationId: ApiAddressBook_GetPrivateAddressBooks
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiAddressBook'
  /v2/address-books/public:
    get:
      tags:
      - ApiAddressBook
      summary: Gets all public lists.
      operationId: ApiAddressBook_GetPublicAddressBooks
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiAddressBook'
  /v2/contacts/{contactId}/address-books:
    get:
      tags:
      - ApiAddressBook
      summary: Gets any lists that a contact is in.
      operationId: ApiAddressBook_GetAddressBooksForContact
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiAddressBook'
  /v2/campaigns/{campaignId}/address-books:
    get:
      tags:
      - ApiAddressBook
      summary: Gets any lists that a campaign has ever been sent to.
      operationId: ApiAddressBook_GetAddressBooksForCampaign
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiAddressBook'
  /v2/campaigns/{id}:
    get:
      tags:
      - ApiCampaign
      summary: Gets a campaign by ID.
      operationId: ApiCampaign_GetCampaignById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaign'
    put:
      tags:
      - ApiCampaign
      summary: Updates a given campaign.
      operationId: ApiCampaign_UpdateCampaign
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiCampaign
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCampaign'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaign'
  /v2/campaigns:
    get:
      tags:
      - ApiCampaign
      summary: Gets all campaigns.
      operationId: ApiCampaign_GetCampaigns
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaign'
    post:
      tags:
      - ApiCampaign
      summary: Creates a campaign.
      operationId: ApiCampaign_CreateCampaign
      requestBody:
        x-name: apiCampaign
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCampaignWithType'
        required: true
        x-position: 1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaignWithType'
  /v2/campaigns/filtered:
    get:
      tags:
      - ApiCampaign
      summary: Gets all campaigns (with filters).
      operationId: ApiCampaign_GetCampaignsWithFilters
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      - name: ~type
        x-originalName: type
        in: query
        schema:
          type: string
          nullable: true
        x-position: 3
      - name: ~tags
        x-originalName: tags
        in: query
        style: form
        explode: true
        schema:
          type: array
          nullable: true
          items:
            type: string
        x-position: 4
      - name: ~sentDate
        x-originalName: sentDate
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 5
      - name: ~statuses
        x-originalName: statuses
        in: query
        style: form
        explode: true
        schema:
          type: array
          nullable: true
          items:
            type: string
        x-position: 6
      - name: ~scheduledDateFrom
        x-originalName: scheduledDateFrom
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 7
      - name: ~scheduledDateTo
        x-originalName: scheduledDateTo
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 8
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignExtended'
  /v2/campaigns/with-details:
    get:
      tags:
      - ApiCampaign
      summary: Gets all campaigns with additional information like type.
      operationId: ApiCampaign_GetCampaignsWithDetails
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignDetails'
  /v2/address-books/{addressBookId}/campaigns:
    get:
      tags:
      - ApiCampaign
      summary: Gets any campaigns that have been sent to a list.
      operationId: ApiCampaign_GetCampaignsForAddressBook
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaign'
  /v2/campaigns/with-activity-since/{date}:
    get:
      tags:
      - ApiCampaign
      summary: Gets all sent campaigns, which have had activity (e.g. clicks, opens) after a specified date.
      operationId: ApiCampaign_GetSentCampaignsWithActivitySinceDate
      parameters:
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaign'
  /v2/campaigns/split-test:
    post:
      tags:
      - ApiCampaign
      summary: Creates a split test campaign.
      operationId: ApiCampaign_CreateSplitTestCampaign
      requestBody:
        x-name: apiCampaign
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiSplitTestCampaign'
        required: true
        x-position: 1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSplitTestCampaign'
  /v2/campaigns/{campaignId}/copy:
    post:
      tags:
      - ApiCampaign
      summary: Copies a given campaign returning the new campaign.
      operationId: ApiCampaign_CopyCampaign
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaign'
  /v2/campaigns/{campaignId}:
    delete:
      tags:
      - ApiCampaign
      summary: Deletes a campaign, and any associated reporting data. If the campaign is currently in use, or being sent to, this call will not be permitted.
      operationId: ApiCampaign_DeleteCampaign
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '204':
          description: ''
  /v2/campaigns/{campaignId}/with-details:
    get:
      tags:
      - ApiCampaign
      summary: Gets a campaign by ID with additional information like type and assigned tags
      operationId: ApiCampaign_GetCampaignWithDetails
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaignDetails'
  /v2/campaigns/{campaignId}/split-test:
    get:
      tags:
      - ApiCampaign
      summary: Gets the split test results of a given campaign.
      operationId: ApiCampaign_GetCampaignSplitTestResults
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaignSplitTestResults'
  /v2/custom-from-addresses:
    get:
      tags:
      - ApiCampaignFromAddress
      summary: Gets all custom from addresses which can be used in a campaign.
      operationId: ApiCampaignFromAddress_GetCustomFromAddresses
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignFromAddress'
  /v2/campaigns/{campaignId}/summary:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a summary of reporting information for a specified campaign.
      operationId: ApiCampaignReporting_GetCampaignSummary
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaignSummary'
  /v2/campaigns/{campaignId}/activities:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of contacts who were sent a campaign, with their activity.
      operationId: ApiCampaignReporting_GetCampaignActivities
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactSummary'
  /v2/campaigns/{campaignId}/activities/since-date/{date}:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of contacts who were sent a campaign, and retrieves only those contacts who showed activity (e.g. they clicked, opened) after a specified date.
      operationId: ApiCampaignReporting_GetCampaignActivitiesSinceDate
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 2000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactSummary'
  /v2/campaigns/{campaignId}/activities/{contactId}:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets activity for a given contact and campaign.
      operationId: ApiCampaignReporting_GetCampaignContactActivity
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaignContactSummary'
  /v2/campaigns/{campaignId}/clicks:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of campaign link clicks.
      operationId: ApiCampaignReporting_GetCampaignClicks
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactClick'
  /v2/campaigns/{campaignId}/clicks/since-date/{date}:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of link clicks for a campaign after a specified date
      operationId: ApiCampaignReporting_GetCampaignClicksSinceDate
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactClick'
  /v2/campaigns/{campaignId}/activities/{contactId}/clicks:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of campaign link clicks for a contact.
      operationId: ApiCampaignReporting_GetCampaignContactClicks
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactClick'
  /v2/campaigns/{campaignId}/opens:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of campaign opens.
      operationId: ApiCampaignReporting_GetCampaignOpens
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactOpen'
  /v2/campaigns/{campaignId}/opens/since-date/{date}:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of opens for a campaign after a specified date
      operationId: ApiCampaignReporting_GetCampaignOpensSinceDate
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactOpen'
  /v2/campaigns/{campaignId}/activities/{contactId}/opens:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of campaign opens for a contact.
      operationId: ApiCampaignReporting_GetCampaignContactOpens
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactOpen'
  /v2/campaigns/{campaignId}/page-views/since-date/{date}:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of page views for a campaign after a specified date.
      operationId: ApiCampaignReporting_GetCampaignPageViewsSinceDate
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactPageView'
  /v2/campaigns/{campaignId}/activities/{contactId}/page-views:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of page views for a contact.
      operationId: ApiCampaignReporting_GetCampaignContactPageViews
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactPageView'
  /v2/campaigns/{campaignId}/activities/{contactId}/replies:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of campaign replies for a contact.
      description: You may not request more than 5 records at a time using the "select" parameter.
      operationId: ApiCampaignReporting_GetCampaignContactReplies
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 5
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactReply'
  /v2/campaigns/{campaignId}/social-bookmark-views:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets campaign social bookmark views for a campaign.
      operationId: ApiCampaignReporting_GetCampaignSocialBookmarkViews
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactSocialBookmarkView'
  /v2/campaigns/{campaignId}/activities/{contactId}/social-bookmark-views:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets campaign social bookmark views for a contact.
      operationId: ApiCampaignReporting_GetCampaignContactSocialBookmarkViews
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactSocialBookmarkView'
  /v2/campaigns/{campaignId}/roi-details/since-date/{date}:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of ROI information for a campaign after the specified date.
      operationId: ApiCampaignReporting_GetCampaignRoiDetailsSinceDate
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactRoiDetail'
  /v2/campaigns/{campaignId}/activities/{contactId}/roi-details:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of ROI information for a contact.
      operationId: ApiCampaignReporting_GetCampaignContactRoiDetails
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactRoiDetail'
  /v2/campaigns/{campaignId}/hard-bouncing-contacts:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of contacts who hard bounced when sent a particular campaign.
      operationId: ApiCampaignReporting_GetCampaignHardBouncingContacts
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: withFullData
        in: query
        schema:
          type: boolean
          default: false
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiContact'
  /v2/campaigns/{campaignId}/clicks-with-groups:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of campaign clicks with link groups
      operationId: ApiCampaignReporting_GetCampaignClicksAndLinkGroups
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactClickWithGroups'
  /v2/campaigns/{campaignId}/clicks-with-groups/since-date/{date}:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of campaign clicks with link groups after a specified date
      operationId: ApiCampaignReporting_GetCampaignClicksAndLinkGroupsSinceDate
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactClickWithGroups'
  /v2/campaigns/{campaignId}/activities/{contactId}/clicks-with-groups:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets a list of campaign clicks with link groups for a contact
      operationId: ApiCampaignReporting_GetCampaignContactClicksAnsLinkGroups
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignContactClickWithGroups'
  /v2/campaigns/{campaignId}/revenue/since-date/{date}:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets the revenue attributed to a specified campaign after a specified date.
      operationId: ApiCampaignReporting_GetCampaignRevenueSinceDate
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaignRevenueAttributionDetail'
  /v2/campaigns/{campaignId}/activities/{contactId}/revenue:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets the revenue attributed to a specified campaign generated by a specified contact.
      operationId: ApiCampaignReporting_GetCampaignRevenueByContact
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaignRevenueAttributionDetail'
  /v2/campaigns/metrics:
    get:
      tags:
      - ApiCampaignReporting
      summary: Gets all sent campaigns daily metrics for the specified date range.
      operationId: ApiCampaignReporting_GetCampaignMetrics
      parameters:
      - name: startDate
        in: query
        schema:
          type: string
          format: date-time
        x-position: 1
      - name: endDate
        in: query
        schema:
          type: string
          format: date-time
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCampaignReportModelExtended'
  /v2/campaigns/send:
    post:
      tags:
      - ApiCampaignSend
      summary: Sends a specified campaign to one or more lists, segments or contacts at a specified time. Leave the list array empty to send to All Contacts.
      operationId: ApiCampaignSend_SendCampaign
      requestBody:
        x-name: apiCampaignSend
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCampaignSend'
        required: true
        x-position: 1
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaignSend'
  /v2/campaigns/send-time-optimised:
    post:
      tags:
      - ApiCampaignSend
      summary: Sends a specified campaign to one or more lists, segments or contacts at the most appropriate time based upon their previous open. Leave the list array empty to send to All Contacts.
      operationId: ApiCampaignSend_SendTimeOptimisedCampaign
      requestBody:
        x-name: apiCampaignSend
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCampaignSend'
        required: true
        x-position: 1
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaignSend'
  /v2/campaigns/send/{sendId}:
    get:
      tags:
      - ApiCampaignSend
      summary: Gets the send status using send ID.
      operationId: ApiCampaignSend_GetCampaignSendProgress
      parameters:
      - name: sendId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCampaignSend'
  /v2/contacts/suppressed-since/{date}:
    get:
      tags:
      - ApiContact
      summary: Gets a list of suppressed contacts after a given date along with the reason for suppression.
      operationId: ApiContact_GetSuppressedContacts
      parameters:
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiContactSuppression'
  /v2/contacts/unsubscribed-since/{date}:
    get:
      tags:
      - ApiContact
      summary: Gets a list of unsubscribed contacts who unsubscribed after a given date.
      operationId: ApiContact_GetUnsubscribedContacts
      parameters:
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiContactSuppression'
  /v2/contacts/modified-since/{date}:
    get:
      tags:
      - ApiContact
      summary: Gets a list of modified contacts after a specified date.
      operationId: ApiContact_GetModifiedContacts
      parameters:
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 1
      - name: withFullData
        in: query
        schema:
          type: boolean
          default: false
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 2000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiContact'
  /v2/contacts/created-since/{date}:
    get:
      tags:
      - ApiContact
      summary: Gets a list of created contacts after a specified date.
      operationId: ApiContact_GetNewContacts
      parameters:
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 1
      - name: withFullData
        in: query
        schema:
          type: boolean
          default: false
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiContact'
  /v2/contacts:
    get:
      tags:
      - ApiContact
      summary: Gets a list of all contacts in the account.
      operationId: ApiContact_GetContacts
      parameters:
      - name: withFullData
        in: query
        schema:
          type: boolean
          default: false
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiContact'
    post:
      tags:
      - ApiContact
      summary: Creates a contact.
      operationId: ApiContact_CreateContact
      requestBody:
        x-name: apiContact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContact'
        required: true
        x-position: 1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContact'
  /v2/contacts/{id}:
    get:
      tags:
      - ApiContact
      summary: Gets a contact by ID. Unsubscribed or suppressed contacts will not be retrieved.
      operationId: ApiContact_GetContactById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContact'
    put:
      tags:
      - ApiContact
      summary: Updates a contact.
      operationId: ApiContact_UpdateContact
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiContact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContact'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContact'
    delete:
      tags:
      - ApiContact
      summary: Deletes a contact.
      operationId: ApiContact_DeleteContact
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '204':
          description: ''
  /v2/contacts/{id}/with-consent:
    get:
      tags:
      - ApiContact
      summary: Gets a contact by ID with consent records.
      operationId: ApiContact_GetContactByIdWithConsent
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactWithConsent'
    put:
      tags:
      - ApiContact
      summary: Updates a contact with consent records.
      operationId: ApiContact_UpdateContact2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiContactWithConsent
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContactWithConsent'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactWithConsent'
  /v2/contacts/{email}:
    get:
      tags:
      - ApiContact
      summary: Gets a contact by email address.
      operationId: ApiContact_GetContactByEmail
      parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContact'
  /v2/contacts/{email}/with-consent:
    get:
      tags:
      - ApiContact
      summary: Gets a contact by email address with consent records.
      operationId: ApiContact_GetContactByEmailWithConsent
      parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactWithConsent'
  /v2/contacts/with-consent:
    post:
      tags:
      - ApiContact
      summary: Creates a contact with consent records.
      operationId: ApiContact_CreateContactWithConsent
      requestBody:
        x-name: apiContactWithConsent
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContactWithConsent'
        required: true
        x-position: 1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactWithConsent'
  /v2/contacts/with-consent-and-preferences:
    post:
      tags:
      - ApiContact
      summary: Creates a contact with consent and preference records.
      operationId: ApiContact_CreateContactWithConsentAndPreferences
      requestBody:
        x-name: apiContactWithConsentAndPreferences
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContactWithConsentAndPreferences'
        required: true
        x-position: 1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactWithConsentAndPreferences'
  /v2/contacts/{id}/with-consent-and-preferences:
    put:
      tags:
      - ApiContact
      summary: Updates a contact with consent and preference records.
      operationId: ApiContact_UpdateContact3
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiContactWithConsentAndPreferences
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContactWithConsentAndPreferences'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactWithConsentAndPreferences'
  /v2/address-books/{addressBookId}/contacts/{contactId}:
    delete:
      tags:
      - ApiContact
      summary: Deletes a contact from a given list.
      operationId: ApiContact_DeleteContactFromAddressBook
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      responses:
        '204':
          description: ''
  /v2/address-books/{addressBookId}/contacts:
    delete:
      tags:
      - ApiContact
      summary: Deletes all contacts from a given list.
      operationId: ApiContact_DeleteAllContactsFromAddressBookWithoutProgress
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '204':
          description: ''
    get:
      tags:
      - ApiContact
      summary: Gets a list of contacts in a given list.
      operationId: ApiContact_GetContactsInAddressBook
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: withFullData
        in: query
        schema:
          type: boolean
          default: false
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiContact'
    post:
      tags:
      - ApiContact
      summary: Adds a contact to a given list.
      operationId: ApiContact_AddContactToAddressBook
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiContact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContact'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContact'
  /v2/address-books/{addressBookId}/contacts/delete-all:
    post:
      tags:
      - ApiContact
      summary: Deletes all contacts from a given list.
      operationId: ApiContact_DeleteAllContactsFromAddressBook
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBulkContactDeletion'
  /v2/address-books/{addressBookId}/contacts/delete:
    post:
      tags:
      - ApiContact
      summary: Deletes multiple contacts from a list. This will run in the background, and for larger lists may take some minutes to fully delete.
      operationId: ApiContact_DeleteContactsFromAddressBook
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: contactIds
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int32
        required: true
        x-position: 2
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBulkContactDeletion'
  /v2/contacts/deletion/{deletionRequestId}:
    get:
      tags:
      - ApiContact
      summary: Gets the status of a previously started request to delete contacts from a list.
      operationId: ApiContact_GetBulkContactDeletionProgress
      parameters:
      - name: deletionRequestId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBulkContactDeletion'
  /v2/address-books/{addressBookId}/contacts/modified-since/{date}:
    get:
      tags:
      - ApiContact
      summary: Gets a list of contacts who were modified since a given date, in a given list.
      operationId: ApiContact_GetModifiedContactsInAddressBook
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 2
      - name: withFullData
        in: query
        schema:
          type: boolean
          default: false
        x-position: 3
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 2000
        x-position: 4
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 5
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiContact'
  /v2/address-books/{addressBookId}/contacts/unsubscribed-since/{date}:
    get:
      tags:
      - ApiContact
      summary: Gets a list of contacts who have unsubscribed from a given list.
      operationId: ApiContact_GetUnsubscribedContactsInAddressBook
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 2
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 3
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiContactSuppression'
  /v2/contacts/unsubscribe:
    post:
      tags:
      - ApiContact
      summary: Unsubscribes contact from account.
      operationId: ApiContact_UnsubscribeContact
      requestBody:
        x-name: apiContact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContact'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactSuppression'
  /v2/contacts/suppress-contacts:
    put:
      tags:
      - ApiContact
      summary: Suppresses a batch of contacts from account.
      operationId: ApiContact_SuppressContacts
      requestBody:
        x-name: apiContacts
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ApiContactIdAndEmail'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiBulkSuppressResponse'
  /v2/address-books/{addressBookId}/contacts/unsubscribe:
    post:
      tags:
      - ApiContact
      summary: Unsubscribes contact from a given list.
      operationId: ApiContact_UnsubscribeContactFromAddressBook
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiContact
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContact'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactSuppression'
  /v2/contacts/resubscribe:
    post:
      tags:
      - ApiContact
      summary: Resubscribes a previously unsubscribed contact.
      operationId: ApiContact_ResubscribeContact
      requestBody:
        x-name: apiContactResubscription
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContactResubscription'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResubscribeResult'
  /v2/contacts/resubscribe-with-no-challenge:
    post:
      tags:
      - ApiContact
      summary: Resubscribes a previously unsubscribed contact with no challenge.
      operationId: ApiContact_ResubscribeContactWithNoChallenge
      requestBody:
        x-name: apiContactResubscription
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContactResubscription'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResubscribeResult'
  /v2/address-books/{addressBookId}/contacts/resubscribe:
    post:
      tags:
      - ApiContact
      summary: Resubscribes a previously unsubscribed contact to a given list.
      operationId: ApiContact_ResubscribeContactToAddressBook
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiContactResubscription
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContactResubscription'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResubscribeResult'
  /v2/address-books/{addressBookId}/contacts/resubscribe-with-no-challenge:
    post:
      tags:
      - ApiContact
      summary: Resubscribes a previously unsubscribed contact to a given list with no challenge.
      operationId: ApiContact_ResubscribeContactToAddressBookWithNoChallenge
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiContactResubscription
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContactResubscription'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResubscribeResult'
  /v2/contacts/transactional-data/{collectionName}:
    post:
      tags:
      - ApiContact
      summary: Adds a single piece of transactional data to a contact.
      operationId: ApiContact_AddTransactionalData
      parameters:
      - name: collectionName
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: apiTransactionalData
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiTransactionalData'
        required: true
        x-position: 2
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTransactionalData'
    get:
      tags:
      - ApiContact
      operationId: ApiContact_GetTransactionalDataByCollectionFromId
      parameters:
      - name: collectionName
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: fromId
        in: query
        schema:
          type: string
        x-position: 2
      - name: take
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiTransactionalData'
  /v2/contacts/transactional-data/import/{collectionName}:
    post:
      tags:
      - ApiContact
      summary: Adds multiple pieces of transactional data to contacts asynchronously, returning an identifier that can be used to check for import progress.
      operationId: ApiContact_ImportTransactionalData
      parameters:
      - name: collectionName
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: apiTransactionalData
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ApiTransactionalData'
        required: true
        x-position: 2
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTransactionalDataImport'
  /v2/contacts/transactional-data/import/{importId}:
    get:
      tags:
      - ApiContact
      summary: Gets the import status of a previously started transactional import.
      operationId: ApiContact_GetTransactionalDataImportProgress
      parameters:
      - name: importId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTransactionalDataImport'
  /v2/contacts/transactional-data/import/{importId}/report:
    get:
      tags:
      - ApiContact
      summary: Gets a report with statistics about what was successfully imported, and what was unable to be imported.
      operationId: ApiContact_GetTransactionalDataImportReport
      parameters:
      - name: importId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTransactionalDataImportReport'
  /v2/contacts/transactional-data/{collectionName}/{key}:
    post:
      tags:
      - ApiContact
      summary: Replaces a piece of transactional data by key (logicall equivalent to a delete and an insert).
      operationId: ApiContact_ReplaceTransactionalDataByKey
      parameters:
      - name: collectionName
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: key
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      requestBody:
        x-name: apiJsonData
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiJsonData'
        required: true
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTransactionalData'
    delete:
      tags:
      - ApiContact
      summary: Deletes a piece of transactional data by key.
      operationId: ApiContact_DeleteTransactionalDataByKey
      parameters:
      - name: collectionName
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: key
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      responses:
        '204':
          description: ''
    get:
      tags:
      - ApiContact
      summary: Gets a piece of transactional data by key.
      operationId: ApiContact_GetTransactionalDataByKey
      parameters:
      - name: collectionName
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: key
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiTransactionalData'
  /v2/contacts/transactional-data/{collectionName}/empty:
    put:
      tags:
      - ApiContact
      summary: Removes all items from a transactional data collection.
      operationId: ApiContact_EmptyTransactionalDataCollection
      parameters:
      - name: collectionName
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '204':
          description: ''
  /v2/contacts/{id}/transactional-data/{collectionName}:
    delete:
      tags:
      - ApiContact
      summary: Deletes all transactional data for a contact.
      operationId: ApiContact_DeleteTransactionalDataByContactId
      parameters:
      - name: collectionName
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      responses:
        '204':
          description: ''
    get:
      tags:
      - ApiContact
      summary: Gets a list of all transactional data for a contact (100 most recent only).
      operationId: ApiContact_GetTransactionalDataByContactId
      parameters:
      - name: collectionName
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiTransactionalData'
  /v2/contacts/{email}/transactional-data/{collectionName}:
    delete:
      tags:
      - ApiContact
      summary: Deletes all transactional data for a contact.
      operationId: ApiContact_DeleteTransactionalDataByContactEmail
      parameters:
      - name: collectionName
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: email
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      responses:
        '204':
          description: ''
    get:
      tags:
      - ApiContact
      summary: Gets a list of all transactional data for a contact (100 most recent only).
      operationId: ApiContact_GetTransactionalDataByContactEmail
      parameters:
      - name: collectionName
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: email
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiTransactionalData'
  /v2/transactional-data/{collectionName}:
    get:
      tags:
      - ApiContact
      summary: Gets a list of account scoped transactional data for given collection
      operationId: ApiContact_GetAccountScopedTransactionalData
      parameters:
      - name: collectionName
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 100
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiTransactionalData'
  /v2/contacts/transactional-data-collections:
    get:
      tags:
      - ApiContact
      summary: Gets a list of transactional data collections.
      operationId: ApiContact_GetTransactionalDataCollections
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiTransactionalDataCollection'
  /v2/contacts/score:
    get:
      tags:
      - ApiContact
      summary: Gets a list of contact scoring data.
      operationId: ApiContact_GetContactsScore
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiContactScore'
  /v2/address-books/{addressBookId}/contacts/score:
    get:
      tags:
      - ApiContact
      summary: Gets a list of contact scoring data in specified list.
      operationId: ApiContact_GetContactsScoreInAddressBook
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiContactScore'
  /v2/contacts/score/modified-since/{date}:
    get:
      tags:
      - ApiContact
      summary: Gets a list of contact scoring data ordered by modified date.
      operationId: ApiContact_GetContactsScoreModifiedSinceDate
      parameters:
      - name: date
        in: path
        required: true
        schema:
          type: string
          format: date-time
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiContactScore'
  /v2/contacts/{email}/score:
    get:
      tags:
      - ApiContact
      summary: Gets particular contact scoring data.
      operationId: ApiContact_GetContactScoreByEmail
      parameters:
      - name: email
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactScore'
  /v2/contacts/{id}/score:
    get:
      tags:
      - ApiContact
      summary: Gets particular contact scoring data.
      operationId: ApiContact_GetContactScoreByContactId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactScore'
  /v2/contacts/count:
    get:
      tags:
      - ApiContact
      summary: Gets the total number of contacts in an account.
      operationId: ApiContact_GetAllContactsCount
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /v2/contacts/retrieve-collection:
    get:
      tags:
      - ApiContact
      summary: Gets a batch of contacts by ID or email address.
      operationId: ApiContact_GetMultipleContacts
      requestBody:
        x-name: multipleContactsRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiMultipleContactsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiMultipleContactsResponse'
  /v2/address-books/{addressBookId}/contacts/import:
    post:
      tags:
      - ApiContactImport
      summary: Bulk creates, or bulk updates, contacts. The ID of returned object can be used to query import progress.
      description: Import format can either be CSV or Excel. Must include one column called "Email". Any other columns will attempt to map to your custom data fields.
      operationId: ApiContactImport_ImportContactsToAddressBook
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: file
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiFileMedia'
        required: true
        x-position: 2
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactImport'
  /v2/address-books/{addressBookId}/contacts/import/with-merge-option/{mergeOption}:
    post:
      tags:
      - ApiContactImport
      summary: Bulk creates, or bulk updates, contacts with merge options. The ID of returned object can be used to query import progress.
      description: Import format can either be CSV or Excel. Must include one column called "Email". Passing a valid "mergeOption" parameter is compulsory. Any other columns will attempt to map to your custom data fields.
      operationId: ApiContactImport_ImportContactsToAddressBookWithMergeOption
      parameters:
      - name: addressBookId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: mergeOption
        in: path
        required: true
        schema:
          default: NotAvailableInThisVersion
          oneOf:
          - $ref: '#/components/schemas/ApiContactMergeOptionTypes'
        x-position: 3
      requestBody:
        x-name: file
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiFileMedia'
        required: true
        x-position: 2
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactImport'
  /v2/contacts/import:
    post:
      tags:
      - ApiContactImport
      summary: Bulk creates, or bulk updates, contacts. The ID of returned object can be used to query import progress.
      description: Import format can either be CSV or Excel. Must include one column called "Email". Any other columns will attempt to map to your custom data fields.
      operationId: ApiContactImport_ImportContacts
      requestBody:
        x-name: file
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiFileMedia'
        required: true
        x-position: 1
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactImport'
  /v2/contacts/import-collection:
    post:
      tags:
      - ApiContactImport
      summary: Bulk creates, or bulk updates, contacts. The ID of returned object can be used to query import progress.
      operationId: ApiContactImport_ImportContactsCollection
      requestBody:
        x-name: contactImportCollection
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContactImportCollection'
        required: true
        x-position: 1
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactImport'
  /v2/contacts/import/with-merge-option/{mergeOption}:
    post:
      tags:
      - ApiContactImport
      summary: Bulk creates, or bulk updates, contacts with merge options. The ID of returned object can be used to query import progress.
      description: This API works on both contact data fields and marketing preferences. Import format can either be CSV or Excel. Must include one column called "Email". Passing a valid "mergeOption" parameter is compulsory. Any other columns will attempt to map to your custom data fields.
      operationId: ApiContactImport_ImportContactsWithMergeOption
      parameters:
      - name: mergeOption
        in: path
        required: true
        schema:
          default: NotAvailableInThisVersion
          oneOf:
          - $ref: '#/components/schemas/ApiContactMergeOptionTypes'
        x-position: 2
      requestBody:
        x-name: file
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiFileMedia'
        required: true
        x-position: 1
      responses:
        '202':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactImport'
  /v2/contacts/import/{importId}:
    get:
      tags:
      - ApiContactImport
      summary: Gets the import status of a previously started contact import.
      operationId: ApiContactImport_GetContactImportProgress
      parameters:
      - name: importId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactImport'
  /v2/contacts/import/{importId}/report:
    get:
      tags:
      - ApiContactImport
      summary: Gets a report with statistics about what was successfully imported, and what was unable to be imported.
      operationId: ApiContactImport_GetContactImportReport
      parameters:
      - name: importId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContactImportReport'
  /v2/contacts/import/{importId}/report-faults:
    get:
      tags:
      - ApiContactImport
      summary: Gets all records that were not successfully imported.
      description: The data are returned in CSV file, which is UTF-8 encoded. This data will only be available for approximately one week after import.
      operationId: ApiContactImport_GetContactImportReportFaults
      parameters:
      - name: importId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v2/data-fields:
    post:
      tags:
      - ApiDataField
      summary: Creates a data field within the account.
      operationId: ApiDataField_CreateDataField
      requestBody:
        x-name: dataField
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiDataField'
        required: true
        x-position: 1
      responses:
        '201':
          description: ''
    get:
      tags:
      - ApiDataField
      summary: Lists the data fields within the account.
      operationId: ApiDataField_GetDataFields
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiDataField'
  /v2/data-fields/{name}:
    delete:
      tags:
      - ApiDataField
      summary: Deletes a data field within the account.
      operationId: ApiDataField_DeleteDataField
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDependencyResult'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v2/document-folders/{folderId}/documents:
    get:
      tags:
      - ApiDocument
      summary: Gets all uploaded documents.
      operationId: ApiDocument_GetDocuments
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiDocument'
    post:
      tags:
      - ApiDocument
      summary: Uploads a document into the specified folder.
      operationId: ApiDocument_UploadDocument
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: file
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiFileMedia'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDocument'
  /v2/document-folders:
    get:
      tags:
      - ApiDocument
      summary: Fetches the document folder tree structure.
      operationId: ApiDocument_GetDocumentFolders
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiDocumentFolder'
  /v2/campaigns/{campaignId}/attachments:
    get:
      tags:
      - ApiDocument
      summary: Gets documents that are currently attached to a campaign.
      operationId: ApiDocument_GetCampaignAttachments
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiDocument'
    post:
      tags:
      - ApiDocument
      summary: Adds a document to a campaign as an attachment.
      operationId: ApiDocument_AttachDocumentToCampaign
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: document
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiDocument'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDocument'
  /v2/document-folders/{folderId}:
    post:
      tags:
      - ApiDocument
      summary: Creates a new document folder.
      operationId: ApiDocument_CreateDocumentFolder
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: folder
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiDocumentFolder'
        required: true
        x-position: 2
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDocumentFolder'
  /v2/campaigns/{campaignId}/attachments/{documentId}:
    delete:
      tags:
      - ApiDocument
      summary: Removes an attachment from a campaign.
      operationId: ApiDocument_DeleteDocumentFromCampaign
      parameters:
      - name: campaignId
[...]
