openapi: 3.2.0
info:
  title: apiconnector.com API Image API
  version: v2
servers:
- url: https://r1-api.dotdigital.com
tags:
- name: ApiImage
paths:
  /v2/image-folders:
    get:
      tags:
      - ApiImage
      summary: Fetches the campaign image folder tree structure.
      operationId: ApiImage_GetImageFolders
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiImageFolder'
  /v2/image-folders/{id}:
    get:
      tags:
      - ApiImage
      summary: Gets an image folder by id.
      operationId: ApiImage_GetImageFolderById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiImageFolder'
    post:
      tags:
      - ApiImage
      summary: Creates a new campaign image folder.
      operationId: ApiImage_CreateImageFolder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: folder
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiImageFolder'
        required: true
        x-position: 2
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiImageFolder'
  /v2/image-folders/{folderId}/images:
    post:
      tags:
      - ApiImage
      summary: Uploads a new campaign image into the specified folder.
      operationId: ApiImage_UploadImage
      parameters:
      - name: folderId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: file
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiFileMedia'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiImage'
components:
  schemas:
    ApiImage:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
        path:
          type:
          - string
          - 'null'
    ApiImageFolder:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          minLength: 1
        childFolders:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiImageFolder'
    ApiFileMedia:
      type: object
      additionalProperties: false
      properties:
        fileName:
          type:
          - string
          - 'null'
        data:
          type:
          - string
          - 'null'
          format: byte
x-generator: NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))
