openapi: 3.2.0
info:
  title: apiconnector.com API Address Book API
  version: v2
servers:
- url: https://r1-api.dotdigital.com
tags:
- name: ApiAddressBook
paths:
  /v2/address-books/{id}:
    get:
      tags:
      - ApiAddressBook
      summary: Gets a list by ID.
      operationId: ApiAddressBook_GetAddressBookById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAddressBook'
    put:
      tags:
      - ApiAddressBook
      summary: Updates a list.
      operationId: ApiAddressBook_UpdateAddressBook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiAddressBook
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAddressBook'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAddressBook'
    delete:
      tags:
      - ApiAddressBook
      summary: Deletes a list.
      operationId: ApiAddressBook_DeleteAddressBook
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v2/address-books:
    get:
      tags:
      - ApiAddressBook
      summary: Gets all lists.
      operationId: ApiAddressBook_GetAddressBooks
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiAddressBook'
    post:
      tags:
      - ApiAddressBook
      summary: Creates a list.
      operationId: ApiAddressBook_CreateAddressBook
      requestBody:
        x-name: apiAddressBook
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAddressBook'
        required: true
        x-position: 1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAddressBook'
  /v2/address-books/private:
    get:
      tags:
      - ApiAddressBook
      summary: Gets all private lists.
      operationId: ApiAddressBook_GetPrivateAddressBooks
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiAddressBook'
  /v2/address-books/public:
    get:
      tags:
      - ApiAddressBook
      summary: Gets all public lists.
      operationId: ApiAddressBook_GetPublicAddressBooks
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiAddressBook'
  /v2/contacts/{contactId}/address-books:
    get:
      tags:
      - ApiAddressBook
      summary: Gets any lists that a contact is in.
      operationId: ApiAddressBook_GetAddressBooksForContact
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiAddressBook'
  /v2/campaigns/{campaignId}/address-books:
    get:
      tags:
      - ApiAddressBook
      summary: Gets any lists that a campaign has ever been sent to.
      operationId: ApiAddressBook_GetAddressBooksForCampaign
      parameters:
      - name: campaignId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 2
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 3
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiAddressBook'
components:
  schemas:
    ApiAddressBook:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
          minLength: 1
        visibility:
          $ref: '#/components/schemas/ApiAddressBookVisibility'
        contacts:
          type: integer
          format: int32
    ApiAddressBookVisibility:
      type: string
      description: ''
      x-enumNames:
      - Private
      - Public
      - NotAvailableInThisVersion
      enum:
      - Private
      - Public
      - NotAvailableInThisVersion
x-generator: NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))
