openapi: 3.2.0
info:
  title: apiconnector.com API Sms API
  version: v2
servers:
- url: https://r1-api.dotdigital.com
tags:
- name: ApiSms
paths:
  /v2/sms-messages/send-to/{telephoneNumber}:
    post:
      tags:
      - ApiSms
      summary: Sends a single SMS message
      operationId: ApiSms_SendSingleSmsMessage
      parameters:
      - name: telephoneNumber
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      requestBody:
        x-name: sms
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiSms'
        required: true
        x-position: 2
      responses:
        '204':
          description: ''
  /v2/sms/campaigns:
    post:
      tags:
      - ApiSms
      summary: Creates an SMS campaign
      operationId: ApiSms_CreateSmsCampaign
      requestBody:
        x-name: apiSmsCampaign
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiSmsCampaign'
        required: true
        x-position: 1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSmsCampaign'
    get:
      tags:
      - ApiSms
      summary: Gets SMS Campaigns
      operationId: ApiSms_GetSmsCampaigns
      parameters:
      - name: select
        in: query
        schema:
          type: integer
          format: int32
          default: 1000
        x-position: 1
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSmsCampaign'
  /v2/sms/campaigns/{id}:
    put:
      tags:
      - ApiSms
      summary: Updates an SMS campaign
      operationId: ApiSms_UpdateSmsCampaign
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiSmsCampaign
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiSmsCampaign'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSmsCampaign'
    delete:
      tags:
      - ApiSms
      summary: Deletes an SMS campaign
      operationId: ApiSms_DeleteSmsCampaign
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '204':
          description: ''
    get:
      tags:
      - ApiSms
      summary: Gets SMS campaign by Id
      operationId: ApiSms_GetSmsCampaign
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSmsCampaign'
  /v2/sms/campaigns/copy:
    post:
      tags:
      - ApiSms
      summary: Copies an SMS campaign
      operationId: ApiSms_CopySmsCampaign
      requestBody:
        x-name: apiCopyrequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiCopySmsCampaignRequest'
        required: true
        x-position: 1
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSmsCampaign'
components:
  schemas:
    ApiSmsCampaign:
      allOf:
      - $ref: '#/components/schemas/ApiSms'
      - type: object
        additionalProperties: false
        required:
        - name
        properties:
          id:
            type: integer
            format: int32
          name:
            type: string
            maxLength: 256
            minLength: 1
          sendingIdentityId:
            type: integer
            format: int32
          sendingIdentity:
            type:
            - string
            - 'null'
            maxLength: 15
          toggleShortLinks:
            type:
            - boolean
            - 'null'
          status:
            readOnly: true
            oneOf:
            - $ref: '#/components/schemas/ApiSmsCampaignStatuses'
    ApiCopySmsCampaignRequest:
      type: object
      additionalProperties: false
      required:
      - campaignId
      - copyName
      properties:
        campaignId:
          type: integer
          format: int32
        copyName:
          type: string
          maxLength: 256
          minLength: 1
    ApiSmsCampaignStatuses:
      type: string
      description: ''
      x-enumNames:
      - Unsent
      - Sending
      - Sent
      - Cancelled
      - NotAvailableInThisVersion
      enum:
      - Unsent
      - Sending
      - Sent
      - Cancelled
      - NotAvailableInThisVersion
    ApiSms:
      type: object
      additionalProperties: false
      required:
      - message
      properties:
        message:
          type: string
          minLength: 1
x-generator: NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))
