openapi: 3.2.0
info:
  title: apiconnector.com API Account API
  version: v2
servers:
- url: https://r1-api.dotdigital.com
tags:
- name: ApiAccount
paths:
  /v2/account-info:
    get:
      tags:
      - ApiAccount
      summary: Gets a summary of information about the current status of the account.
      operationId: ApiAccount_GetCurrentAccountInfo
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAccount'
  /v2/server-time:
    get:
      tags:
      - ApiAccount
      summary: Gets the UTC time as set on the server.
      operationId: ApiAccount_GetServerTime
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: string
                format: date-time
  /v2/accounts:
    post:
      tags:
      - ApiAccount
      summary: Creates an account. The ID of the newly returned account will be returned as the result of this call.
      description: "There are some mandatory, and some optional fields - missing mandatory fields will cause error code to be returned.\n            The following fields are mandatory: \"EMAIL\", \"FIRSTNAME\", \"LASTNAME\", \"USERIPADDRESS\".\n            The following fields are optional: \"COMPANY\", \"PHONENUMBER\", \"LCID\", \"TIMEZONEID\", \"ISEXPRESSACCOUNT\"."
      operationId: ApiAccount_CreateAccount
      requestBody:
        x-name: account
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiAccount'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiAccount'
  /v2/accounts/{accountId}/managed-users:
    post:
      tags:
      - ApiAccount
      summary: Creates Managed user for a given account id.
      operationId: ApiAccount_CreateManagedUser
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiManagedUser
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiManagedUser'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiManagedUser'
  /v2/accounts/{accountId}/oauth-tokens:
    post:
      tags:
      - ApiAccount
      summary: Adds an OAuth token to an account.
      operationId: ApiAccount_CreateOAuthToken
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiOAuthToken
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiOAuthToken'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiOAuthToken'
  /v2/accounts/{accountId}/theme:
    put:
      tags:
      - ApiAccount
      summary: Changes a theme for an account.
      operationId: ApiAccount_UpdateTheme
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiTheme
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiTheme'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
  /v2/accounts/{accountId}/api-users:
    post:
      tags:
      - ApiAccount
      summary: Creates an API user for a given account ID. The username of the created user will be returned as the result of this call.
      description: This method may only be called on an account with no existing API users configured using the rate limiting scheme referenced in the request indicated with IsTieredRateLimitedApiUser e.g. flat or tiered rate limiting.
      operationId: ApiAccount_CreateApiUser
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      requestBody:
        x-name: apiUser
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiUser'
        required: true
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiUser'
  /v2/accounts/empty-recycle-bin:
    post:
      tags:
      - ApiAccount
      summary: Empties the account's recycle bin.
      operationId: ApiAccount_EmptyRecycleBin
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
components:
  schemas:
    ApiOAuthToken:
      type: object
      additionalProperties: false
      required:
      - redirectUri
      properties:
        redirectUri:
          type: string
          minLength: 1
        clientId:
          type:
          - string
          - 'null'
        secretKey:
          type:
          - string
          - 'null'
    ApiUser:
      type: object
      additionalProperties: false
      required:
      - password
      properties:
        email:
          type:
          - string
          - 'null'
          readOnly: true
        password:
          type: string
          minLength: 1
        isTransactionalEmailUser:
          type: boolean
        isTieredRateLimitedApiUser:
          type: boolean
        description:
          type:
          - string
          - 'null'
    ApiAccountProperty:
      type: object
      additionalProperties: false
      properties:
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
    ApiTheme:
      type: object
      additionalProperties: false
      required:
      - primaryColor
      - secondaryColor
      - hyperlinkColor
      - buttonColor
      properties:
        primaryColor:
          type: string
          minLength: 1
          pattern: ^(\#[0-9a-f]{6})$
        secondaryColor:
          type: string
          minLength: 1
          pattern: ^(\#[0-9a-f]{6})$
        hyperlinkColor:
          type: string
          minLength: 1
          pattern: ^(\#[0-9a-f]{6})$
        buttonColor:
          type: string
          minLength: 1
          pattern: ^(\#[0-9a-f]{6})$
    ApiPermissionTypes:
      type: string
      description: ''
      x-enumNames:
      - Sender
      - Reporter
      - EditCampaigns
      - TemplateAdmin
      - Contacts
      - ReportDrillDown
      - ContactExporter
      - CanSendWithoutApproval
      - Programs
      - ManageAccount
      - NotAvailableInThisVersion
      enum:
      - Sender
      - Reporter
      - EditCampaigns
      - TemplateAdmin
      - Contacts
      - ReportDrillDown
      - ContactExporter
      - CanSendWithoutApproval
      - Programs
      - ManageAccount
      - NotAvailableInThisVersion
    ApiManagedUser:
      type: object
      additionalProperties: false
      required:
      - email
      - password
      - permissions
      properties:
        email:
          type: string
          minLength: 1
        password:
          type: string
          minLength: 1
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/ApiPermissionTypes'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        mobileNumber:
          type:
          - string
          - 'null'
    ApiAccount:
      type: object
      additionalProperties: false
      required:
      - properties
      properties:
        id:
          type: integer
          format: int32
        properties:
          type: array
          items:
            $ref: '#/components/schemas/ApiAccountProperty'
x-generator: NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))
