openapi: 3.2.0
info:
  title: apiconnector.com API Data Field API
  version: v2
servers:
- url: https://r1-api.dotdigital.com
tags:
- name: ApiDataField
paths:
  /v2/data-fields:
    post:
      tags:
      - ApiDataField
      summary: Creates a data field within the account
      operationId: ApiDataField_CreateDataField
      requestBody:
        x-name: dataField
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiDataField'
        required: true
        x-position: 1
      responses:
        '201':
          description: ''
    get:
      tags:
      - ApiDataField
      summary: Lists the data fields within the account
      operationId: ApiDataField_GetDataFields
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiDataField'
  /v2/data-fields/{name}:
    delete:
      tags:
      - ApiDataField
      summary: Deletes a data field within the account
      operationId: ApiDataField_DeleteDataField
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDependencyResult'
        '409':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
        extensions:
          type: object
          additionalProperties: {}
    ApiDependency:
      type: object
      additionalProperties: false
      properties:
        type:
          $ref: '#/components/schemas/ApiBusinessObjectType'
        objectId:
          type: integer
          format: int32
    ApiDataField:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        name:
          type: string
          minLength: 1
        type:
          $ref: '#/components/schemas/ApiDataTypes'
        visibility:
          $ref: '#/components/schemas/ApiDataFieldVisibility'
        defaultValue: {}
    ApiDataFieldVisibility:
      type: string
      description: ''
      x-enumNames:
      - Private
      - Public
      - NotAvailableInThisVersion
      enum:
      - Private
      - Public
      - NotAvailableInThisVersion
    ApiDataTypes:
      type: string
      description: ''
      x-enumNames:
      - String
      - Numeric
      - Date
      - Boolean
      - NotAvailableInThisVersion
      enum:
      - String
      - Numeric
      - Date
      - Boolean
      - NotAvailableInThisVersion
    ApiBusinessObjectType:
      type: string
      description: ''
      x-enumNames:
      - Campaign
      - Survey
      - MicrositePage
      - DynamicContent
      - ContactLabel
      - SurveyQuestion
      - AddressBook
      - DynamicContentRule
      - CampaignLink
      - CampaignTemplate
      - NotAvailableInThisVersion
      enum:
      - Campaign
      - Survey
      - MicrositePage
      - DynamicContent
      - ContactLabel
      - SurveyQuestion
      - AddressBook
      - DynamicContentRule
      - CampaignLink
      - CampaignTemplate
      - NotAvailableInThisVersion
    ApiDependencyResult:
      type: object
      additionalProperties: false
      properties:
        dependencies:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApiDependency'
        result:
          type: boolean
x-generator: NSwag v14.4.0.0 (NJsonSchema v11.3.2.0 (Newtonsoft.Json v13.0.0.0))
